[submodule "ml/SegmentAnything/segment-anything"]
	path = ml/SegmentAnything/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "ml/DepthAnything/Depth-Anything-V2"]
	path = ml/DepthAnything/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2
