ml/SegmentAnything/segment-anything/weights
ml/Dataset/__pycache__
ml/GroundingDino/__pycache__
ml/SegmentAnything/__pycache__
ml/Train/checkpoint_test_training
ml/Train/models/__pycache__
ml/Train/pipeline/__pycache__
ml/Train/utils/__pycache__
ml/Train/rec_para_train.txt
ml/Train/rec_para.txt
ml/Train/train_svd.py
ml/Train/__pycache__
ml/Train/output_run_sam.txt
ml/Dataset/train.csv
ml/Train/tensorboard
ml/2024_04_22_10_35_34
ml/DepthAnything/__pycache__
ml/DepthAnything/weights
ml/Inference/results
ml/Dataset/hydra_config/config_create_dataset_csv_split.yaml